<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="PHP Patterns Tests">
            <directory>./src/creational/*/test/</directory>
            <directory>./src/structural/*/test/</directory>
            <directory>./src/behavioral/*/test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
